    <footer class="footer-section">
        <div class="row">
            <div class="grid-footer">                
                <div class="footer-left">
                    &copy; Copyrighting Taneční skupina styx
                </div>
                <div class="footer-right">
                        <a href="#"><ion-icon class="social-icon yt" name="logo-youtube"></ion-icon></a>
                        <a href=""><ion-icon class="social-icon ins" name="logo-instagram"></ion-icon></a>
                        <a href=""><ion-icon class="social-icon fb" name="logo-facebook"></ion-icon></a>
                </div>
            </div>
        </div>
    </footer>