    <header class="header">
        <div class="navbar">
            <div class="logo">
                <h1><a href="/">STYX</a></h1>
            </div>
            <nav class="main-nav">
                <ul class="main-nav__ul">
                    <li class="main-nav__li"><a href="/AboutUs">O nás</a></li>
                    <li class="main-nav__li"><a href="/Gallery">Galerie</a></li>
                    <li class="main-nav__li"><a href="/Repertoar">Repertoár</a></li>
                    <li class="main-nav__li"><a href="/Members">Členové</a></li>
                    <li class="main-nav__li"><a href="/Performances">Vystoupení</a></li>
                    <li class="main-nav__li"><a href="/Login">Příhlášení</a></li>
                </ul>
            </nav>
        </div>

    </header>