body {
    background-color: hsla(180, 1%, 47%, 0.308);
}

.users-section-h2 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.user-section__container {
    border: 1px solid black;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 3rem;
    margin-top: 2rem;
    border-radius: 3px;
    background-color: #fff;
}

.user-section__container:last-child {
     margin-bottom: 7rem;
}