<%- include('layouts/head.ejs') %>
<link rel="stylesheet" href="/style/aboutus.css">
</head>
<body>
<%- include('layouts/navigation.ejs') %>
    <section class="who">
        <div class="row who-display">
            <div class="who-display__content">
                <h2>Kdo jsme</h2>
                <p>Akrobatická a taneční skupina působící pod TJ Sokol Poruba. Skupina je složena z mladých lidí, studentů středních a vysokých škol, po celé své trvání je vedena paní Sylvou Roháčkovou.</p>
            </div>
        </div>
  
    </section>

    <section class="who-2">
        <div class="row who-display">
            <div class="who-display__content">
                <h2>Co děláme</h2>
                <p>Od ostatních tanečních skupin se odlišujeme náročnými akrobatickými prvky prováděnými v párech, které jsou jinak k vidění pouze na profesionální úrovni. K vystoupením samozřejmě patří tanec všech možných žánrů. Klasický i moderní, sólový i párový a ani choreograficky náročná skladba pro velký počet lidí není problém. </p>
            </div>
        </div>
    </section>

    <section class="who-3">
        <div class="row who-display">
            <div class="who-display__content">
                <h2>Kde jsme k vidění</h2>
                <p>Každoročně vystupujeme na plesech a kulturních akcích zejména našeho regionu, ale také například v Brně či Praze. Již několik let se účastníme pódivých soutěží, kde obhajujeme čelní místa v rámci republiky. </p>
                <a href="/performance" class="btn">Vystoupení</a>
            </div>
        </div>
    </section>
<%- include('layouts/footer.ejs') %> 
<%- include('layouts/end.ejs') %> 
