<%- include('layouts/head.ejs') %>
<link rel="stylesheet" href="/style/repertoar.css">
</head>
<body>
<%- include('layouts/navigation.ejs') %>
    <section class="repertoar">
        
    </section>
<%- include('layouts/footer.ejs')   %> 
<%- include('layouts/end.ejs') %>